*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#1e1b4b;
    --secondaryBackground: #312e81;
    --text: white;
    --cyan: #06b6d4;
    --teal: #5eead4;
}
body{
    background: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 80px auto 0 auto;
}
.details{
    width: 100%;
}
.stats-container{
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--cyan);
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
#progress-bar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    margin-top: 20px;
    border-radius: 5px;

}
#progress{
    height: 10px;
    width: 70%;
    background-color: var(--teal);
    border-radius: 10px;
}
#number{
    width: 100px;
    height: 100px;
    background-color: var(--cyan);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: 30px;
    font-weight: bold;
}
form{
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 5px;
}
input{
    flex: 1;
    background-color: var(--secondaryBackground);
    padding: 5px;
    border: 1px solid var(--cyan);
    border-radius: 10px;
    color: white;
    outline: none;
}
button{
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cyan);
    border: 2px solid var(--secondaryBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    outline: none;
}
#task-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
    list-style: none;
}
.taskitem{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: var(--secondaryBackground);
    border-radius: 10px;
    width: 100%;
}
.task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input{
    width: 20px;
    height: 20px;
    color: var(--text);
}
.taskitem img{
    width: 24px;
    height: 24px;
}
.task.completed{
    text-decoration: line-through;
    color: var(--teal);
    color: var(--text);
}