html{
    margin: 0;
}
/* nav{
    align-items: center;
    justify-content: center;
    display: inline-block;
} */
.hero{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
span{
    display: block;
}
.button{
    width: 100px;
    height: 100px;
    border: solid 2px;
    display: inline-flex;
}
#pink{
    background-color: rgb(242, 134, 152);
}
#white{
    background-color: #fff;
}
#blue{
    background-color: rgb(44, 44, 241);
}
#yellow{
    background-color: rgb(230, 230, 70);
}